/* Google Font Import */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700;900&family=Roboto:wght@100;300;400;700;900&display=swap');


/* General Css */
*{
   margin: 0;
   padding: 0;
   list-style: none;
   text-decoration: none;
   box-sizing: border-box;
}

body{
   height: 100vh;
   font-size: 16px;
   background-color: #000;
   font-family: 'Roboto', sans-serif;
   background-image: url(../images/bodyBg.jpg);
   background-size: cover;
   background-repeat: no-repeat;
}

img{
   display: inline-block;
}

:root{
   --mainColor: #00FFFF;
}

.container{
   margin: 0px auto;
   padding: 0px;
   max-width: 1440px;
}

.header__logo{
   position: relative;
   top: 20px;
   display: flex;
}

.mainLetter{
   position: relative;
   top: 5px;
   width: 60px;
   height: 50px;
   border: 3px solid var(--mainColor);
}

.mainLetter h2{
   font-size: 40px;
   font-weight: 700;
   color: var(--mainColor);
   text-align: center;
}

.nameLogo{
   position: relative;
   left: 10px;
}

.nameLogo h2{
   font-family: 'Merriweather', serif;
   font-size: 30px;
   font-weight: 700;
   color: var(--mainColor);
}

.nameLogo{
   font-family: 'Merriweather', serif;
   font-weight: 900;
   letter-spacing: 1px;
   color: var(--mainColor);
}

/* ============================= Structure calculator =============================  */

.mainSection__calc{
   position: absolute;
   top: calc(50% - 250px);
   left: 0;
   right: 0;
   margin: 0px auto;  
   width: 400px; 
   height: 530px;
   border-radius: 12px;
   backdrop-filter: blur(10px) saturate(200%);
   background-color: rgba(17, 25, 40, 0.30);
   border: 1px solid rgba(255, 255, 255, 0.125);
   -webkit-backdrop-filter: blur(10px) saturate(200%);
}

.mainSection__calc--display{
   margin: 20px auto;
   width: 90%;
   height: 60px;
   backdrop-filter: blur(10px) saturate(200%);
    -webkit-backdrop-filter: blur(10px) saturate(200%);
    background-color: rgba(17, 25, 40, 0.72);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
}

.mainSection__buttons{
   padding-top: 15px;
}

.mainSection__calcBtn{
   position: relative;
   left: 26px;
   width: 64px;
   height: 64px;
   transition: 0.5s;
   cursor: pointer;
   color: #E3F5F4;
   margin-left: 15px;
   font-size: 20px;
   font-weight: 900; 
   font-family: 'Merriweather', serif;
   background-color: rgba(17, 25, 40, 0.60);
}


.speratedBtn{
   font-size: 16px;
   color: var(--mainColor);
}