/* Google Font Import */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700;900&family=Roboto:wght@100;300;400;700;900&display=swap');


/* General Css */
*{
   margin: 0;
   padding: 0;
   list-style: none;
   text-decoration: none;
   box-sizing: border-box;
}

body{
   font-size: 16px;
   background-color: #000;
   font-family: 'Roboto', sans-serif;
   background-image: url(../images/bodyBg.jpg);
   background-size: cover;
   background-repeat: no-repeat;
}

img{
   display: inline-block;
}

.container{
   margin: 0px auto;
   padding: 0px;
   max-width: 1440px;
}

.header__logo{
   position: relative;
   top: 20px;
   display: flex;
}

.mainLetter{
   position: relative;
   top: 5px;
   width: 60px;
   height: 50px;
   border: 3px solid rgb(255,180,0);
}

.mainLetter h2{
   font-size: 40px;
   font-weight: 700;
   color: rgb(255,180,0);
   text-align: center;
}

.nameLogo{
   position: relative;
   left: 10px;
}

.nameLogo h2{
   font-family: 'Merriweather', serif;
   font-size: 30px;
   font-weight: 700;
   color: rgb(255,180,0);
}

.nameLogo{
   font-family: 'Merriweather', serif;
   font-weight: 900;
   letter-spacing: 1px;
   color: #ffb400;
}
